@import url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css');

@mixin border {
  border: 2.5px solid gray;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Shabnam, sans-serif;
  direction: rtl;

  .v-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .links {
      @include border;
      background: white;
      height: 310px;
      margin-bottom: 5px;
      width: 35px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: white;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 20px;
          margin: 5px 0;
          img{
            background: white;
          }
        }

      }
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .my-photo {
        @include border;
        background: white;
        width: 250px;
        margin-bottom: 0;
      }

      h1 {
        @include border;
        margin: 5px;
        width: 250px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: x-large;
      }
    }

  }


  //background: black;
}

